
<div class="site-wrapper" style="background:url('<%= asset_path('plumbing.png') %>') 50% 50% no-repeat;">

  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
        </div>
      </div>

      <div id="formLogin" class="inner cover text-center" data-animation="fadeIn" data-animation-delay="100">
      <br><br>
        <h3 class="font-montserrat cover-heading mb20 mt20">Login Form</h3>
        <!--<form class="clearfix mb35">-->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-sm-8 col-sm-offset-2">
            <!--<input type="text" name="username1" class="form-control text-center no-border input-lg input-circle bg-light-transparent" placeholder="Username">-->
          <%= f.email_field :email, autofocus: true , class: 'form-control text-center no-border input-lg input-circle bg-light-transparent', placeholder: 'Email' %>

        </div>
          <div class="col-sm-8 col-sm-offset-2 mt10">
            <%= f.password_field :password, autocomplete: "off" , class: 'form-control text-center no-border input-lg input-circle bg-light-transparent' , placeholder: 'Password'%>
            <!--<input type="password" name="password2" class="form-control text-center no-border input-lg input-circle bg-light-transparent" placeholder="Password">-->
          </div>

              <% if devise_mapping.rememberable? -%>
                  <div class=" col-sm-8 col-sm-offset-2 mt10 checkbox checkbox check-success"> &nbsp;&nbsp;&nbsp;&nbsp;
                    <%= f.check_box :remember_me %>
                    <label for=" col-sm-8 col-sm-offset-2 mt10 checkbox1"><p>Keep me reminded </p></label>
                  </div>
              <% end %>
          <div class="col-sm-8 col-sm-offset-2 mt5">
            <button class="button button-lg button-circle button-block button-pasific hover-ripple-out">Login</button><br><br>
          <% end %>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) ,class: "color-light mt20" %><br />
            <% end -%>
            <!--<a href="#" class="color-light mt20">Forgot Password?</a><br>-->

            <!--<a href="#" class="color-light mt20" id="showFormRegister">Register Now.</a>-->
            <%= link_to 'Register Now', new_user_registration_path ,class: "color-light mt20"%>
          </div>

        <!--</form>-->
        <br>
      </div>



      <!--<div class="mastfoot">-->
        <!--<div class="inner">-->
          <!--<p class="color-light text-center">&copy;2016 Pasific Templare by Myboodesign.com</p>-->
        <!--</div>-->
      <!--</div>-->

    </div>

  </div>

</div>





<!--%= render "users/shared/links" %-->
